body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#toggle-button {
    padding: 10px 25px;
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;

}